<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    
    <title>Document</title>
</head>
<body>
    <div class="sec2 row">
        <div class="image col-lg-6 col-md-6 col-sm-12">
            <img src="images/graph.jpg">
        </div>
        <div class="content col-lg-6 col-md-6 col-sm-12">
            <h2>Welcome!</h2>
            <p>The views are client-facing and could make or break my user’s experience with the </p>
            <p>application. I’ll use a similar template for each page to reduce complexity in this appli</p>
            <p>cation. The top of each HTML page should have some HTML layout, a head, a link to</p>
        </div>
    </div>

    <script src="js/bootstrap.bundle.min.js"></script>
</body>
</html>